# .gitignore

# Python
*.py[oc]
__pycache__/
*.egg-info
.eggs/
.mypy_cache/*
.pyre/
.pytest_cache/
.ruff_cache/
.dmypy.json

# python protobuf
kscaleos_client_py/kos/
!kscaleos_client_py/kos/__init__.py

# Rust
target/
Cargo.lock

# Databases
*.db

# Build artifacts
build/
dist/
*.so
out*/
